#div2{
    width: 200px;
    height: 200px;
<<<<<<< HEAD
    background: url(../images/8.jpg);
=======
    background: url(../images/9.jpg) no-repeat;
>>>>>>> 508aa8cc4efdbd02ed0be8f2e8646cd730c40080
}